/* Setting Font to Arial */
head { font-family: Arial; }
body { font-family: Arial; }
h1 {text-align: center;}

/* Table Styling */
th {background-color: lightblue;}
tr {border-bottom: 1px solid grey}
.center { margin-left: auto; margin-right: auto; border-collapse: collapse; width: 80%; 
          text-align: center}			

/* Data Types Styling */
h2 {text-align: left;}
.info {text-align: left; list-style-position: inside;} 

/* Task Abstraction Styling with Flexbox */
.flex-container {
  display: flex;
  flex-flow: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Ensuring images fit on the screen */
img{
    padding: 0;
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

.flex-container > div {
    max-width: 50%;
}

.flex-item {
  background: rgb(255, 255, 255);
  padding: 5px;
  margin-top: 10px;
  line-height: 15px;
  color: rgb(0, 0, 0);
  font-size: 1em;
  text-align: left;
  align-items: left

}

/* Decoration Styling SVG */
.flex-container2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  gap: 25px;
  padding: 0;
  margin: 0;
  list-style: none;}

.flex-item2 {
  padding: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  flex: 1;
  }

/* align text left */
.list {text-align: left}

/* define shapes */
circle {cx: 70px; cy: 70px; r: 70px; fill: darkred; fill-opacity: .5;}

rect {width: 200px; height: 150px; fill: cyan; stroke: pink; stroke-width: 10px;}

/* set hover styling */
.flex-item2:hover .circle {stroke: lightblue; stroke-width: 20px;}
.flex-item2:hover .rect {fill: honeydew;}

/* Acknowledgements Section */
h3 {text-align: center; font-size: 20px}
ul {text-align: center; list-style-position: inside; } 